VITE_MAPBOX_TOKEN=pk.your_mapbox_public_token
VITE_HERMES_GATEWAY_URL=http://127.0.0.1:8787
VITE_HERMES_API_BASE_URL=http://127.0.0.1:8642/v1
VITE_HERMES_API_KEY=your_local_hermes_api_server_key
VITE_AMAP_KEY=your_amap_web_service_key
